*{
  box-sizing: border-box;
}
.main{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 300px auto;
  background: blueviolet;
}
.t,.b {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: coral;
}
.t.l{
  bottom: 100%;
  right: 100%;
}
.t.r{
  bottom:100%;
  left:100%;
}
.b.r{
  top: 100%;
  left:100%;
}
.b.l{
  top: 100%;
  right: 100%;
}
.t.l::after{
  content:'';
  width: 50px;
  height: 50px;
  display: block;
  background-color: blue;
  position: absolute;
  bottom: 100%;
  left: 100%;
}
.b.r::before{
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background-color: blue;
  position: absolute;
  top: 100%;
  right: 100%;
}
